html
    head
        title Alice Testing
        link(rel='stylesheet' href='static/styles.css')
    body
        main.main
            form.form
                .output
                .controls
                    input.input(type='text' disabled placeholder='Send message for Alice')
                    button.submit(type='submit')
        script(src='/static/index.js')