* {
    outline: none !important;
}

body {
    margin: 0;
    font-family: Monaco, monospace;
    font-weight: 800;
    background: #333333;
}

.main {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    border: 10px solid #333333;
}

.form {
    box-sizing: border-box;
    background: #ffffff;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.request,
.response__value {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.output {
    width: 100%;
    overflow-y: auto;
    flex: 1;
}

.output div:first-child {
    margin-top: 0;
}

.request {
    background: #fc0;
    border-top-left-radius: 0;
    color: #000000;
}

.response {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.request, .response__value {
    width: 90%;
}

.response__value {
    word-break: break-word;
    background: #6524ff;
    border-top-right-radius: 0;
    color: #ffffff;
}

.controls {
    display: flex;
}

.input {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
    flex: 1;
    font-size: 16px;
}

.input[disabled] {
    background: #dddddd;
    color: #cfcfcf;
}

.submit {
    background: linear-gradient(45deg, #a358ff, #6524ff);
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    transition: all .1s ease-in-out;
}

.submit::before {
    content: '>';
    font-weight: bolder;
    font-size: 16px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

.submit:active {
    transform: scale(.8) skew(3deg, 3deg);
}
