html
    head
        title Alice Testing
        link(rel='stylesheet' href='static/styles.css')
    body
        h1 Test
        form.form
            .output
            input.input(type='text' placeholder='Send message for Alice')
        script(src='/static/index.js')